@import "appbar.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

main {
  width: 90%;
  max-width: 800px;
  margin: 32px auto;
}

.form-grup {
  margin-bottom: 1rem;
}

#inputValue {
  width: 760px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  outline: none;
  color: #495057;
  background-color: #fff;
  /* background-clip: padding-box; */
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

#search {
  color: #fff;
  background-color: blue;
  outline: none;
  min-height: 38px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

#movies-searchable {
  margin-top: 20px;
  margin-bottom: 50px;
}

.movie {
  margin-bottom: 50px;
}

section {
  display: flex;
  width: 100%;
  overflow-x: auto;
}

section img {
  width: 300px;
}

img:hover {
  margin-left: 0 40px;
  transform: scale(1.2);
  cursor: pointer;
}

.content {
  border: 1px solid lightgrey;
  padding: 20px;
  display: none;
}

#content-close {
  cursor: pointer;
}

.content div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px;
}

.content-display {
  display: block;
}